<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khtn.uaieo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UAIEO">
        <receiver
            android:name=".activity.Notification"
            android:enabled="true"/>
        <activity
            android:name=".activity.NotificationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SpeakingQuestionDetailActicity"
            android:exported="false" />
        <activity
            android:name=".activity.SpeakingQuestionListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SpeakingExamListActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.ReadingListening.ListRLExamActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TipDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TipListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailNewsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DictionaryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScheduleScreen"
            android:exported="false" />
        <activity
            android:name=".activity.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VietsubActivity"
            android:exported="false" />
        <activity
            android:name=".activity.QuizResultActivity"
            android:exported="false" />
        <activity
            android:name=".activity.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LogoutAcvitiy"
            android:exported="true">
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
    </application>

</manifest>