<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khtn.uaieo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UAIEO">
        <activity
            android:name=".activity.ReadingListening.Part3"
            android:exported="false" />
        <activity
            android:name=".activity.ReadingListening.Part2"
            android:exported="false" />
        <activity
            android:name=".activity.ReadingListening.Part1"
            android:exported="false" />
        <activity
            android:name=".activity.ReadingListening.PartRLExamActivity"
            android:exported="false" />

        <receiver
            android:name=".activity.Notification"
            android:enabled="true" />

        <activity
            android:name=".activity.NotificationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Speaking.SpeakingQuestionDetailActicity"
            android:exported="false" />
        <activity
            android:name=".activity.Speaking.SpeakingQuestionListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Speaking.SpeakingExamListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ReadingListening.ListRLExamActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Home.TipDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Home.TipListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Home.DetailNewsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Home.DictionaryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Home.ScheduleScreen"
            android:exported="false" />
        <activity
            android:name=".activity.Home.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Home.VietsubActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Home.QuizResultActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Home.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Auth.LogoutAcvitiy"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Auth.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Auth.LoginActivity"
            android:exported="false" />
    </application>

</manifest>